body {
    margin: 0;
    padding: 0;
}
.date {
    font-size: 0.9rem;
    color: rgb(45, 153, 54);
    margin-bottom: -20px;
    text-align: center;
}
.all_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block_kurs {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 200px;
    justify-content:space-evenly;
    background-color: rgb(215, 233, 215);
    margin: auto;
    box-shadow: 2px 2px 3px grey;
    text-align:justify;
    margin-top: 30px;
    margin-bottom: 30px;
}
.valuta1 {
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
    text-align: center;
}
.flagUA {
    width: 25px;
    height: 15px;
    background-image: url(..//img/flag_ua.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
table {
    
    font-weight: bold;
}
tr {
    margin-top: 50px;
    margin-bottom: 50px;
}
td {
    padding: 10px;
    border: 1px solid black;
}
#bTn {
    cursor: pointer;
    box-shadow: 2px 2px 3px black;
    
}
